.env
.env.backup
.env.production
*.log
.DS_Store
Thumbs.db
.idea
.vscode
.phpunit.result.cache
.phpunit.cache

student-information-api/vendor
student-information-api/node_modules
student-information-api/public/build
student-information-api/public/hot
student-information-api/public/storage
student-information-api/storage/*.key
student-information-api/storage/logs
student-information-api/storage/framework/cache
student-information-api/storage/framework/sessions
student-information-api/storage/framework/views
student-information-api/bootstrap/cache/*.php
student-information-api/database/*.sqlite
student-information-api/database/*.sqlite-*

student-information-frontend/node_modules
student-information-frontend/dist
student-information-frontend/dist-ssr
student-information-frontend/.env
student-information-frontend/*.local
